body{
    background-color: rgba(127, 255, 212, 0.515);
    color: rgb(165, 165, 150);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#total {
    height: 30px;
    background-color: rgb(227, 243, 243);
    border-radius: 5px;
}

#pago {
    height: 30px;
    background-color: rgb(227, 243, 243);
    border-radius: 5px;
}


#submit {
    border-radius: 5px;
    height: 40px;
    margin: 20px;
    background-color: rgba(137, 43, 226, 0.595);
}

#submit:hover {
    background-color: blueviolet;
}